<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ITEM_ID</key>
		<string>0000000001</string>
		<key>ITEM_NAME</key>
		<string>[01]协同办公平台</string>
		<key>ITEM_TYPE</key>
		<integer>0</integer>
		<key>INPUT_CODE</key>
		<string>X</string>
		<key>NEXT_URL</key>
		<string></string>
		<key>CHILDREN_NUM</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ITEM_ID</key>
		<string>0000000002</string>
		<key>ITEM_NAME</key>
		<string>[03]行政职能管理</string>
		<key>ITEM_TYPE</key>
		<integer>0</integer>
		<key>INPUT_CODE</key>
		<string>X</string>
		<key>NEXT_URL</key>
		<string></string>
		<key>CHILDREN_NUM</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ITEM_ID</key>
		<string>0000000003</string>
		<key>ITEM_NAME</key>
		<string>[05]器材与供应链管理</string>
		<key>ITEM_TYPE</key>
		<integer>0</integer>
		<key>INPUT_CODE</key>
		<string>Q</string>
		<key>NEXT_URL</key>
		<string></string>
		<key>CHILDREN_NUM</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ITEM_ID</key>
		<string>0000000004</string>
		<key>ITEM_NAME</key>
		<string>[07]经济核算与绩效管理</string>
		<key>ITEM_TYPE</key>
		<integer>0</integer>
		<key>INPUT_CODE</key>
		<string>J</string>
		<key>NEXT_URL</key>
		<string></string>
		<key>CHILDREN_NUM</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ITEM_ID</key>
		<string>0000000005</string>
		<key>ITEM_NAME</key>
		<string>[09]保健体检和健康管理</string>
		<key>ITEM_TYPE</key>
		<integer>0</integer>
		<key>INPUT_CODE</key>
		<string>T</string>
		<key>NEXT_URL</key>
		<string></string>
		<key>CHILDREN_NUM</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ITEM_ID</key>
		<string>0000000006</string>
		<key>ITEM_NAME</key>
		<string>[11]客户服务管理</string>
		<key>ITEM_TYPE</key>
		<integer>0</integer>
		<key>INPUT_CODE</key>
		<string>K</string>
		<key>NEXT_URL</key>
		<string></string>
		<key>CHILDREN_NUM</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ITEM_ID</key>
		<string>0000000007</string>
		<key>ITEM_NAME</key>
		<string>[13]经营决策和商业智能</string>
		<key>ITEM_TYPE</key>
		<integer>0</integer>
		<key>INPUT_CODE</key>
		<string>J</string>
		<key>NEXT_URL</key>
		<string></string>
		<key>CHILDREN_NUM</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ITEM_ID</key>
		<string>0000000036</string>
		<key>ITEM_NAME</key>
		<string>[99]测试报表</string>
		<key>ITEM_TYPE</key>
		<integer>0</integer>
		<key>INPUT_CODE</key>
		<string>C</string>
		<key>NEXT_URL</key>
		<string></string>
		<key>CHILDREN_NUM</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
